<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="/assets/css/cover.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="container d-flex min-vh-100 w-100  p-3 mx-auto flex-column main-container">
        <header class="mb=auto">
            <div>
                <h3 class="float-md-start mb-0">
                    <a href="#">
                        <img src="/assets/image/logo.png" alt="" height="100">
                    </a>
                </h3>
                {% include 'demo/partials/navigation.html.twig' %}
            </div>
        </header>
        <main class="px-3">
            {% block body %}{% endblock %}
        </main>
        <footer class="mt-auto">
                Demo page
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/demo.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>