{% extends 'demo/base.html.twig' %}

{% block body %}

<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <form id="searchForm" action="{{ path('api_branch_search') }}" method="get">
                <h1 class="fw-light">Výdajné a podacie miesta</h1>
                <p class="lead text-muted">Pri objednávke v e-shope
                    si vyberte naše výdajné miesto,
                    ktoré máte najbližšie.
                </p>
                <div class="input-group mb-3">
                    <input type="text" id="searchValue" class="form-control" name="address" placeholder="zvoľte miesto (napr.: 'Poprad','Bratislava' atd.)" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Vyhľadať</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class=" col-md-8 mx-auto">
        <div id="loader" class="loader">Loading...</div>

        <div id="searchResults" class="list-group slide-in-bck-top">
        </div>
    </div>
</div>
{% endblock %}
