<nav class="nav nav-masthead justify-content-center float-md-end">
    <a class="nav-link active" aria-current="page" href="#">Vydajne miesta a pobocky</a>
    <a class="nav-link" href="#">Hladanie zasielky</a>
    <a class="nav-link" href="#">Pre firmy</a>
</nav>